@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans Variable", sans-serif;
}

@layer components {
  .card {
    @apply rounded bg-white p-4 shadow;
  }
}
